-i https://pypi.org/simple
attrs==24.2.0; python_version >= '3.7'
certifi==2025.4.26; python_version >= '3.6'
cfn-resource-provider==1.2.1
charset-normalizer==3.4.2; python_version >= '3.7'
cx-oracle==8.3.0
idna==3.10; python_version >= '3.6'
jsonschema==4.23.0; python_version >= '3.8'
jsonschema-specifications==2024.10.1; python_version >= '3.9'
referencing==0.35.1; python_version >= '3.8'
requests[security]==2.32.4; python_version >= '3.8'
rpds-py==0.21.0; python_version >= '3.9'
urllib3==2.6.0; python_version >= '3.9'
